<div class="AboutPage">
  <h3>About page</h3>
  <p>Prueba de página</p>
  <ul>
  <li>Single page application</li>
  <li>Node.js</li>
  <li>Browserify</li>
  </ul>

  <a href="#">Regresar a home</a>
</div>