<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= title %></title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/build.css">
  <style>#loading{display:flex;flex-direction:column;text-align:center;margin-top:15%;height:70px;justify-content:space-between;font-size:1.2em;}</style>
</head>
<body>
  <div id="loading"><h1>Loading...</h1></div>
  <div id="root-node"></div>
  <script src="/js/build.js"></script>
</body>
</html>