<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= title %></title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/build.css">
  <style>#loading{display:flex;display:none;flex-direction:column;text-align:center;margin-top:15%;height:70px;justify-content:space-between;font-size:1.2em;}</style>
</head>
<body>
  <div id="loading"><h1>Loading...</h1></div>
  <div id="root-node">
    <div class="Layout">
      <div class="Layout-header">
        <h1>Todos</h1>
      </div>
      <div class="Layout-body">
        <div id="TodoInput" class="TodoInput">
          <input type="text" placeholder="What need to be done?">
        </div>
        <div id="TodoMarkAll" class="TodoMarkAll">
          <label for="TodoMarkAllcheck"><input type="checkbox" id="TodoMarkAllcheck" name="TodoMarkAll"> Mark all as completed</label>
        </div>
      </div>
      <div class="Layout-footer">
      footer
      </div>
    </div>
  </div>
  
  <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
</body>
</html>