.TodoInput
  padding: 0 1em .5em 1em;
  
  input
    width 100%
    border 2px solid #ccc
    padding 5px 10px
    font-size 1.1em
    margin-bottom 5px
    outline none
    height 38px
    background: #fff;
    position relative
    border-radius 3px