<div class="Footer">
  <p>Double-click to edit a todo.</p>
  <p><span class="fa fa-code"></span> with <span class="fa fa-heart"></span> by victorvzn</p>
  <div id="Footer-about">
    <a href="#" class="tohome"><span class="fa fa-home"></span> Home</a> - 
    <a href="#" class="toabout"><span class="fa fa-info-circle"></span> About</a>
  </div>
</div>