.Layout
  background white
  border-radius 0 0 .25em .25em
  box-shadow 0 3px 0 #CCC
  transition height .3s ease
  margin-left: 18px;
  width 500px
  margin 0 auto
  
  h1
    text-align center
  
  &-header
    padding-bottom: 15px;
  
  &-footer
    display: flex;
    justify-content: space-between;
    padding: 10px 1em;
    background: #FFFCE6;
    border-radius: 0 0 3px 3px;