<div id="Layout" class="Layout">
  <div class="Layout-header">
    <h1>Todos</h1>
  </div>
  <div class="Layout-body"></div>
  <div class="Layout-footer">
    <div class="TodoCount"></div>
    <a href="#" id="TodoClearCompleted" class="TodoClearCompleted"></a>
  </div>
</div>